@font-face { 
	font-family: "Rock 3D";  
	src: url("../media/font/Rock3D-Regular.ttf") ;
}
@font-face {
	font-family: "Oxygen";
	src: url("../media/font/Oxygen-Regular.ttf");
}

body {
	font-size: 20px;
	font-family: 'Oxygen', sans-serif;
	background-color: rgb(227, 238, 238);
}

h1 {
	font-family: 'Rock 3D', cursive;
	text-align: center;
	font-size: 60px;
}

form {
	font-family: 'Oxygen';
	color: white;
	background-color: brown;
	width: 600px;
	margin: 0 auto;
	text-align: center;
}
/* Tous les inputs */
input {
	margin: 25px 10px;
}

/* Pseudo */
input[type="text"] {
	color: white;
	font-size: 30px;
	padding: 5px;
	width: 50%;
	height: 35px;
	background-color: blue;
	border: 3px solid blue;
	border-radius: 4px;
	outline: 1px transparent;
	transition: outline 150ms ease-in, width 150ms ease-in;
}
::placeholder {
	color: lightgrey;
	font-size: 30px;
	position: absolute;
	bottom: 5px;
}

/* Difficulté */
select {
	background-color: white;
	color: fuchsia;
	margin: 20px;
	height: 40px;
	padding: 5px;
	border: none;
	border-radius: 4px;
	outline: 1px transparent;
	transition: outline 150ms ease-in;
}
select option {
	background-color: fuchsia;
	color:white;
}

/* Aide */
div {
	height: 30px;
	margin: 20px 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}
input[type="checkbox"] {
	position: relative;
	appearance: none;
	width: 40px;
	height: 20px;
	background-color: lightgray;
	border-radius: 25px;
	transition: 250ms;
	box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
}
input[type="checkbox"]:checked {
	background-color: #03a9f4;
}
input[type="checkbox"]::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	transform: scale(1.1);
	background-color: white;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
	transition: 200ms;
}
input[type="checkbox"]:checked::before{
	left: 20px;
}

/* Bouton lancer la partie */
input[type="submit"] {
	margin-bottom: 10px;
	padding: 5px 10px;
	border: 1px solid white;
	width: 30%;
	height: 50px;
	border-radius: 4px;
	transition: all 150ms ease-in;
}

/* Focus des éléments */
input:focus-visible, select:focus-visible {
	outline: 1px solid white;
}
input[type="text"]:focus-visible {
	width: 70%;
}
input[type="submit"]:hover, input[type="submit"]:focus-visible {
	color: white;
	background-color: black;
	width: 40%;
	height: 55px;
}