/* Importation de la police Oxygen */
@font-face {
	font-family: "Oxygen";
	src: url("../media/font/Oxygen-Regular.ttf");
}
* {
	font-size: 20px;
}

body {
	font-family: 'Oxygen', sans-serif;
	background-color: rgb(227, 238, 238);
}

/* Logo du site */
#logo {
	display: block;
	margin: 0 auto;
	transform: scale(0.5);
}

/* Le formulaire entier */
form {
	color: black;
	width: 600px;
	margin: 5% auto;
	text-align: center;
}

/* Tous les inputs */
input {
	margin: 25px 10px;
}

/* Input Pseudo */
input[type="text"] {
	color: black;
	padding: 5px;
	width: 70%;
	height: 30px;
	border: 2px solid black;
	background-color: whitesmoke;
	border-radius: 4px;
	outline: 1px transparent;
	transition: outline 150ms ease-in, width 150ms ease-in;
	padding: 10px;
}
::placeholder {
	font-family: "Oxygen";
	color: rgba(0, 0, 0, 0.4);
}

/* Difficulté */
select, select option {
	background-color: whitesmoke;
	border-radius: 4px;
	font-size: 15px;
	color: black;
	margin: 20px;
	height: 40px;
	padding: 5px;
	border: 2px solid black;
	border-radius: 4px;
	outline: 1px transparent;
	transition: outline 150ms ease-in;
}

/* Checkbox Aide */
div {
	height: 30px;
	margin: 20px 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}
input[type="checkbox"] {
	position: relative;
	appearance: none;
	width: 40px;
	height: 20px;
	background-color: lightgray;
	border-radius: 25px;
	transition: 250ms;
	box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
}
/* Checkbox quand elle est cochée */
input[type="checkbox"]:checked {
	background-color: #178FEB;
}
input[type="checkbox"]::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	transform: scale(1.1);
	background-color: white;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
	transition: 200ms;
}
input[type="checkbox"]:checked::before{
	left: 20px;
}

/* Bouton lancer la partie */
input[type="submit"] {
	margin-bottom: 10px;
	padding: 5px 10px;
	border: 2px solid black;
	background-color: whitesmoke;
	width: 50%;
	height: 65px;
	border-radius: 4px;
	transition: all 150ms ease-in;
	font-family: "Oxygen";
}

/* Focus des éléments */
input:focus-visible, select:focus-visible {
	outline: 1px solid black;
}
input[type="text"]:focus-visible {
	width: 90%;
}
input[type="submit"]:hover, input[type="submit"]:focus-visible {
	width: 60%;
	height: 75px;
	background-color: white;
	outline: 1px solid black;
}
