@font-face { 
	font-family: "Rock 3D";  
	src: url("../font/Rock3D-Regular.ttf") ;
}
@font-face {
	font-family: "Oxygen";
	src: url("../font//Oxygen-Regular.ttf");
}

body {
	font-family: 'Oxygen', sans-serif;
	background-color: rgb(227, 238, 238);
}

h1 {
	font-family: 'Rock 3D', cursive;
	text-align: center;
}

form {
	font-family: 'Oxygen';
	color: white;
	background-color: brown;
	width: 500px;
	margin: 0 auto;
	text-align: center;
}
div {
	height: 30px;
	margin: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
input {
	margin: 25px 10px;
}
input[type="text"] {
	padding: 5px;
	width: 50%;
	background-color: blue;
	border: 3px solid blue;
	border-radius: 4px;
	outline: 1px transparent;
	transition: outline 150ms ease-in, width 150ms ease-in;
}
::placeholder {
	color: lightgrey;
}
input[type="text"]:focus-visible {
	outline: 1px solid white;
	width: 70%;
}

select {
	background-color: fuchsia;
	color:white;
	padding: 5px;
	border: none;
	border-radius: 4px;
	outline: 1px transparent;
	transition: outline 150ms ease-in;
}
select option {
	color: black;
}
select:focus-visible {
	outline: 1px solid white;
}

button {
	margin-bottom: 10px;
	padding: 5px 10px;
	border: 1px solid white;
	width: 30%;
	height: 50px;
	border-radius: 4px;
	transition: all 150ms ease-in;
}
button:hover {
	color: white;
	background-color: black;
	width: 40%;
	height: 55px;
}
