@font-face { 
	font-family: "Rock 3D";  
	src: url("../media/font/Rock3D-Regular.ttf") ;
}
@font-face {
	font-family: "Oxygen";
	src: url("../media/font/Oxygen-Regular.ttf");
}

body {
	font-family: 'Oxygen', sans-serif;
	background-color: rgb(227, 238, 238);
}

h1 {
	font-family: 'Rock 3D', cursive;
	text-align:center;
}

p {
	text-align: center;
}

#footer-container {
	margin: auto;
	height: 720px;
	width: 1080px;
}

#setting {
	text-align: center;
	padding: 5px;
}

#whole-thing {
	width: 100%;
}

#board-container {
	position: relative;
	background-color: yellow;
	height: 500px;
}

/* La grille du sudoku */
#board {
	position: relative;
	user-select: none;	/*Comme ça l'utilisateur ne sélectionne pas les nombres quand il clique dessus*/
	width: 450px;
	height: 450px;
	position: absolute;
	width: 450px;
	height: 450px;
	top: 50%;
	bottom: 50%;
	right: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	display: flex;
	flex-wrap: wrap;
}

/* Les cases du sudoku */
.cell {
	width: 48px;
	height: 48px;
	border: 1px solid lightgray;
	cursor: pointer;
	font-size: 20px;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Les cases de départs */
.start-cell {
	background-color: rgb(214, 225, 225); /*temporaire*/
}

#alerts {
	position: absolute;
	background-color: coral;
	width: 25%;
	height: 370px;
	right: 3%;
	top: 50%;
	bottom: 50%;
	transform: translate(0,-50%);

	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Rock 3D', cursive;
	font-size: 40px;
	font-weight: bold;
}

/* La div avec les nombres à sélectionner */
#digits {
	user-select: none;
	width: 450px;
	height: 50px;
	margin: 20px auto;
	display: flex;
	flex-wrap: wrap;
}

/* Les nombres à sélectionner pour les poser dans le sudoku */
.number {
	width: 44px;
	height: 44px;
	border: 1px solid black;
	margin: 2px;
	cursor: pointer;
	font-size: 20px;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
}

/* Le nombre de la div #digits sélectionné (s'il y en a un) */
.number-selected {
	background-color: lightsalmon; /*temporaire*/
}

/* Les cases au-dessus des lignes horizontales */
.horizontal-line {
	border-bottom: 1px solid black;
}

/* Les cases à gauche des lignes verticales */
.vertical-line {
	border-right: 1px solid black;
}

.end-cell {
	background-color: greenyellow;
}

.end-cell.start-cell {
	background-color: rgb(143, 225, 17);
}

#clock {
	text-align: center;
	align-content: center;
}

#bMute {
	border: none;
	background: none;
}

#bMute:hover, #bMute:focus {
	border: none;
	background: none;
	cursor: pointer;
}

#footer {
	border-radius: .3em .3em .3em .3em;
	padding: 5px;
	background-color: #999999;
	color: white;
	text-align: right;
}