:root {
	--dark: "#fff";
	--light: "#fff";
}

@font-face {
	font-family: "Oxygen";
	src: url("../media/font/Oxygen-Regular.ttf");
}

body {
	font-family: 'Oxygen', sans-serif;
	background-color: var(--light);
}

#logo {
	display: block;
	margin: 0 auto;
	transform: scale(0.5);
	border: 5px dashed black;
}


p {
	text-align: center;
}

input[type="checkbox"] {
	position: relative;
	appearance: none;
	width: 40px;
	height: 20px;
	margin: 0 0 -4px 10px;
	background-color: lightgray;
	border-radius: 25px;
	transition: 250ms;
	box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
}
input[type="checkbox"]:checked {
	background-color: #178FEB;
}
input[type="checkbox"]::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	transform: scale(1.1);
	background-color: white;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
	transition: 200ms;
}
input[type="checkbox"]:checked::before{
	left: 20px;
}

.x {
	color: rgb(240, 240, 240);
	text-decoration: none;
}

.x:hover {
	cursor: default;
}

#footer-container {
	margin: auto;
	height: 720px;
	width: 1080px;
}

#setting {
	text-align: center;
	padding: 5px;
}

#whole-thing {
	width: 100%;
}

#board-container {
	position: relative;
	height: 500px;
}

#leaderboard {
	position: relative;
    top: 25%;
    left: 3%;
	width: 40%;
}

ol {
	margin: auto 0;
    width: fit-content;
}

.lead {
	font-size: larger;
    margin: 0;
    overflow-wrap: anywhere;
}

#lead1 {
	color: gold;
}
#lead2 {
	color: silver;
}
#lead3 {
	color: #CD7F32;
}

/* La grille du sudoku */
#board {
	position: relative;
	user-select: none;	/*Comme ça l'utilisateur ne sélectionne pas les nombres quand il clique dessus*/
	width: 450px;
	height: 450px;
	position: absolute;
	width: 450px;
	height: 450px;
	top: 50%;
	bottom: 50%;
	right: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	display: flex;
	flex-wrap: wrap;
}

/* Les cases du sudoku */
.cell {
	width: 48px;
	height: 48px;
	border: 1px solid white;
	cursor: pointer;
	font-size: 20px;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Les cases de départs */
.start-cell {
	background-color: var(--dark); 
}

.wrong {
	background-color: rgb(141, 0, 0);
}

.wrong.start-cell {
	background-color: rgb(111, 0, 0);
}

#panel {
	position: absolute;
	width: 120px;
	height: 370px;
	right: 28%;
	top: 50%;
	bottom: 50%;
	transform: translate(0,-50%);
	
	justify-content: center;
	align-items: center;
	font-family: 'Rock 3D', cursive;
	font-size: 40px;
	font-weight: bold;
}

.mid {
	margin: 0;
	position: absolute;
  	top: 50%;
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
}

#help {
	margin: 0 50%;
    transform: translate(-50%);
}

#help:focus-visible {
	background-color: #bbbbbb;
}

#giveup {
	margin: 0 50%;
    transform: translate(-50%);
	background-color: red;
	color: white;
	font-weight: bold;
	border: 2px solid red;
}

#giveup:hover {
	outline: 1px solid red;
	color: #eeeeee;
}

#giveup:focus {
	outline: 1px solid red;
	color: #cccccc;
}

/* La div avec les nombres à sélectionner */
#digits {
	user-select: none;
	width: 450px;
	height: 50px;
	margin: 20px auto;
	display: flex;
	flex-wrap: wrap;
}

/* Les nombres à sélectionner pour les poser dans le sudoku */
.number {
	width: 44px;
	height: 44px;
	color: white;
	border: 1px solid black;
	margin: 2px;
	cursor: pointer;
	font-size: 20px;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
}

/* Le nombre de la div #digits sélectionné (s'il y en a un) */
.number-selected {
	background-color: var(--dark);
}

/* Les cases au-dessus des lignes horizontales */
.bottom-horizontal-line {
	border-bottom: 1px solid black;
}
.top-horizontal-line {
	border-top: 1px solid black;
}

/* Les cases à gauche des lignes verticales */
.right-vertical-line {
	border-right: 1px solid black;
}
.left-vertical-line {
	border-left: 1px solid black;
}

.end-cell {
	background-color: greenyellow;
}
.end-cell.start-cell {
	background-color: rgb(143, 225, 17);
}

#clock {
	font-size: xxx-large;
	margin-top: -30px;
	text-align: center;
	align-content: center;
}

/* Div contenant les icones 'couper le son' et 'info' */
#top-right {
	position: fixed;
	width: 120px;
	top: 10px;
	right: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 1;
}

/* Bouton couper le son */
#iMute {
	border: none;
	background: none;
	width: 50px;
}

#iMute:hover, #iMute:focus {
	border: none;
	background: none;
	cursor: pointer;
}

/* Div contenant les informations */
#info {
	font-family: 'Oxygen';
	display: none;
	opacity: 0;
	box-shadow: 0 0 5px 3px white;
	padding: 30px;
	border-radius: .3em;
	background-color: var(--dark);
	position: fixed;
	top: 80px;
	right: 20px;
	width: 30%;
	height: 28%;
	z-index: 1; /*Pour être par dessus les autres éléments*/
}
#info li {
	padding: 2px;
}
#info a, #info a:visited {
	font-size: 25px;
	color: whitesmoke;
	text-decoration: none;
	position: absolute;
	bottom: 30px;
	left: 50%;
	transform: translate(-50%,0);
	transition: all 150ms ease-in;
}
#info a::after {
	content: '';
	display: block;
	position: absolute;
	width: 0%;
	height: 2px;
	left: 0;
	background-color: var(--light);
	transition: width 0.3s;
}
#info a:hover::after {
	width: 100%;
}

/* Difficulté */
select, select option {
	background-color: whitesmoke;
	border-radius: 4px;
	font-size: 15px;
	color: black;
	margin: 5px;
	height: 30px;
	border: 2px solid black;
	border-radius: 4px;
	outline: 1px transparent;
	transition: outline 150ms ease-in;
}
select:focus-visible {
	outline: 1px solid black;
}

button {
	background-color: whitesmoke;
	border-radius: 4px;
	font-size: 15px;
	color: black;
	margin: 5px;
	margin-left: 11px;
	height: 30px;
	border: 2px solid black;
	border-radius: 4px;
	outline: 1px transparent;
	transition: all 150ms ease-in;
}
button:hover, button:focus-visible {
	background-color: white;
	outline: 1px solid black;
}

#footer {
	border-radius: .3em;
	padding: 5px;
	background-color: #999999;
	color: white;
	text-align: right;
}